In [2]:
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x: (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

# lambda with map()

* map() fiunction in python takes in a functio and lidt as argument

In [3]:
li=[1,2,3,4,5,6,7,8]
map_list=list(map(lambda x: x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

# lambda with reduce

In [6]:
def sum_list(li):
    s=0
    for i in li:
        s+=i
    return s
li=[1,2,3,4,5,6,7,8]
sum_list(li)

36

In [8]:
from functools import reduce
li=[1,2,3,4,5,6,7,8]
s=reduce((lambda x,y:x+y),li)
print(s)

36

### standard package
### pandas,numpy and matplotlib

In [1]:
import pandas as pd
internal1={'s1':35,'s2':45,'s3':35}
internal2={'s1':45,'s2':45,'s3':45}
intrnal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)

{'s1': 35, 's2': 45, 's3': 35}
s1    45
s2    45
s3    45
dtype: int64

In [7]:
final={'internal':internal1,'internal':internal2}
final=pd.DataFrame(final)
print(final)

    internal
s1        45
s2        45
s3        45

In [2]:
filepath='datafiles/income.csv'
def readCsvdata(filepath):
    return pd.read_csv(filepath)
readCsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528